:root {
  --base-color: #c6538c;
  --color-ter: #F53838;
  --font: 1em;
  --font-xlg: 2.5em;
  --font-lg: 1.5em;
  --font-sm: 0.8em;


  --weigth-sm: 300;
  --weigth: 400;
  --weight-bold:700;


  --color-font: #0B132A;
  --color-font-textSecundary:#4F5665;
}

html,body, #app{
  font-family: 'Rubik', sans-serif;
}


.w-100{
  width: 100%;
}

.w-50{
  width: 50%;
}
/* TEXTS */

.font-xl{
  font-size: var(--font-xlg);
}

.font-lg{
  font-size: var(--font-xlg);
}
.font{
  font-size: var(--font);
}
.font-sm{
  font-size: var(--font-sm);
}

.font-light{
  font-weight: var(--weigth-sm);
}
.font-regular{
  font-weight: var(--weigth);
}

.font-bold{
  font-weight: var(--weigth-bold);
}

.text-secondary{
  color:var(--color-font-textSecundary)
}



.gap-3{
  gap:1.2em;
}
.gap-1{
  gap:0.5em;
}





/* padding */

.p-4{
  padding: 2em;
}
.px-2{
  padding-left: 1em;
  padding-right: 1em;
}

.px-1{
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.py-4{
  padding-top: 2em;
  padding-bottom: 2em;
}


/* magenes */

.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}
.mt-4{
  margin-bottom: 2em;
}

.mtn-5{
  margin-top: -5em;
}

.mt-5{
  margin-top: 5em;
}


@media (min-width:325px) and (max-width: 500px) {
  .col-sm-12{
    width: 100%;
  }
}
