<template>
    <main>
        <Navbar title="MYB  Proyects" />
        <Header />
        <CardInfo />
        <AboutUs/>
        <Donaciones />
        <Footer />
    </main>
</template>
<script lang="ts">
import Navbar from "../common/components/Navbar.vue";
import Header from "../common/components/Header.vue";
import CardInfo from "../common/components/CardInfo.vue";
import AboutUs from "../common/components/AboutUs.vue";
import Donaciones from "../common/components/Donaciones.vue";
import Footer from "../common/components/Footer.vue";

import { defineComponent } from 'vue'

export default defineComponent({
    name: "LandingPage",
    components: {
        Navbar,
        Header,
        CardInfo,
        AboutUs,
        Donaciones,
        Footer
    },
    data() {
        return {
            title: "Landing Page"
        }
    }
})
</script>
