<template>
  <section class="w-100">
    <div class="container row between-md mx-auto  p-4">
      <section class="col-lg-6 col-md-6 col-sm-12 img-container">
        <img
          class="img-responsive"
          src="../../assets/ilustracion2.svg"
          alt=""
        />
      </section>
      <section class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="font-bold font-xl px-1">
          Expertos en mejorar tu negocio
        </h1>
        <p class="font-regular px-2">
          Tenemos como objetivo ayudar a las empresas en su gestión, aportando soluciones útiles que cumplan con los desafíos futuros para lograr un impulso al negocio que mejore los resultados y aporte valor.
        </p>
        <div class="px-2" v-for="list in listAbout" :key="list">
          <div class="row middle-md middle-xs start-xs start-md gap-3">
            <img
              class="img-responsive icon-2"
              src="../../assets/checkCircle.svg"
              alt=""
            />
            <p class="font-color font-sm">{{ list }}</p>
          </div>
        </div>
      </section>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "About-Us",
  data: () => ({
    listAbout: ["EMPRESA FAMILIAR ", "PLANIFICACIÓN ESTRATÉGICA Y REORGANIZACIÓN", "CONTROL DE GESTIÓN ", "FUSIONES ADQUISICIONES - CORPORATE FINANCE "],
  }),
  setup() {},
});
</script>

<style>
.icon-2 {
  width: 24px;
}
.font-color {
  color: #4f5665;
  margin-top: 0;
  margin-bottom: 0;
}
</style>
