<template>
  <button class="btn-shadow">{{ text }}</button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    text: {
      type: String,
      required: true,
    },
  },
  setup() {},
});
</script>


<style scoped>
button {
  font-size: 1.2em;
  background: #f53838;
  color: white;
  border-radius: 10px;
  padding: 0.5em 3em;
  border: none;
}

.btn-shadow {
  box-shadow: 0px 10px 15px rgba(245, 56, 56, 0.35);
  cursor: pointer;
}
</style>
