<template>
  <div class="row middle-xs gap-3">
    <div class="icon col-">
      <img :src="`/src/assets/${item.icon}.svg`" alt="" />
    </div>
    <div class="column col-sm-8  col-md-8 col-lg-8">
      <h2 class="m-0">{{ item.number }} +</h2>
      <p class="m-0">{{ item.message }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  setup() {},
  methods: { },
});
</script>

<style>
.icon {
  background: #ffecec;
  border-radius: 70px;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
  height: 50%;
}

.m-0{
    margin: 0;
}

p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


color: #4F5665;
}
</style>
