<template>
  <section class="w-100 ">
    <div class="container mx-auto p-4">
      <div class="card row middle-xs between-md center-xs ">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" v-for="item in items" :key="item.message">
          <CardInfoDetail class="col-sm-12 col-md-12 box" :item="item" />
        </div>
      </div>
    </div>
  </section>
</template>
<script lang="ts">
import CardInfoDetail from "./CardInfoDetail.vue";
import { defineComponent } from "vue";

export default defineComponent({
  components: {
    CardInfoDetail,
  },
  data: () => ({
    items: [
      { icon: "user", message: "Beneficiarios", number: 90 },
      { icon: "location", message: "zonas", number: 30 },
      { icon: "cash", message: "Donantes", number: 50 },
    ],
  }),
  setup() {},
});
</script>


<style>
.card{
    padding: 3em;
    box-shadow: 0px 20px 50px #0d10251f;
}
</style>
