<template>
  <section class="w-100 bg-gray-100 p-1s mt-4 mb-4">
    <div class="container mx-auto p-4">
      <section class="column">
        <h1 class="font-xl font-bold text-center">Donaciones</h1>
        <p class="font w-50 mx-auto gray text-center">
          Nuestro éxito procede de la experiencia de más de 30 años creando empresas con futuro en sectores muy diversos.
        </p>
      </section>
      <div class="card-donaciones container row between-md center-xs p-4">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img
              class="img-responsive img-sm"
              src="../../assets/Premium.png"
              alt=""
            />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-8  col-xs-8 start-sm  ">
            <h1>Ayuda a crear nuevas experiencias</h1>
            <p>
              Nuestra fundación planea formentar las mejores practicas para los
              sectores más necesitados.
            </p>
            <div class="row justify-start gap-3 align-center">
              <input
                class="donarInput col-xs-12 col-sm-12 col-md-6 col-lg-6 "
                type="text"
              />
              <ButtonDonar class="col-xs-12 col-sm-12 col-md-4" text="Donar" />
            </div>
          </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import ButtonDonar from "./ButtonDonar.vue";
import { defineComponent } from "vue";

export default defineComponent({
  components: {
    ButtonDonar,
  },
  setup() {},
});
</script>


<style>
.bg-gray-100 {
  background: #f6f6f6;
}

.gray {
  color: #4f5665;
}

.card-donaciones {
  background: white;
  border-width: 2px;
  border: solid;
  border-color: var(--color-ter);
  border-radius: 3em;
}

.img-sm {
  height: 20em;
    width: 20em;
    object-fit: contain;
    margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: var(--color-font);
  margin: 0;
}

p {
  font-size: 24px;
}

.donar {
  background: #f53838;
  border-radius: 50px;
}

input::placeholder {
  font-size: 16px;
  color: #4f5665;
}

.donarInput {
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.7em 0.5em;
  color: #4f5665;
}

.mb-4{
  margin-bottom: 2em;
}
</style>
