<template>
  <footer class="footer w-100 mt-5">
      <section class="footer--card container mx-auto p-4 mtn-5">
          <div class="row between-md middle-md center-xs">
              <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                  <h1>Se parte de las mejores experiencias</h1>
                  <p class="font-sm">Las donaciones son utilizadas para mejorar a las  zonas afectadas</p>
              </div>
               <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                 <ButtonDonar @click="scroll(0, -500)" text="Ir a Donaciones"/>
              </div>
          </div>
      </section>
      <section class="container mx-auto row between-md middle-md  center-xs p-4 ">
          <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12 column start-md ">
               <h1 class="nav-titleBrand font-regular font-xl m-0">MB Proyectos</h1>
               <p class="font-sm m-0">
                   tenemos como objetivo ayudar a las empresas en su gestión, aportando soluciones útiles que cumplan con los desafíos futuros para lograr un impulso al negocio que mejore los resultados y aporte valor.
               </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
              <h5>Donaciones</h5>
          </div>
      </section>
      <section class="copyRigth center-xs center-md p-4">
          ©{{year}} MYB Proyectos
      </section>
  </footer>
</template>

<script lang="ts">
import ButtonDonar from "./ButtonDonar.vue";
import { defineComponent } from 'vue'

export default defineComponent({
    components:{
        ButtonDonar
    },
    setup() {
        const year = new Date().getFullYear();

        return{
            year
        }
    },methods:{
        scroll : (a : number , b : number) => {
            window.scrollBy({
                top: b,
                left: a,
                behavior: 'smooth'
                });
        }
    }
})
</script>


<style>
.footer{
    background: #F8F8F8;
}


.footer--card{
    background: white;
}
.m-0{
    margin: 0;
}

h5{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */


color: #0B132A;
}

.copyRigth{
    color: #AFB5C0;
}
</style>
