<template>
    <header class="w-100  container mx-auto  p-4 ">
        <section class=" row between-xs">
            <div class=" header-titles col-lg-6 col-md-6 col-sm-12 p-4">
                <h1 class="font-xl header-title box">CONSULTORÍA EMPRESARIAL</h1>
                <p class="font font text-secondary">Servicios a medida que permiten
resolver a las empresas sus diversas necesidades.</p>
                <ButtonDonar @click="scroll(0, 1250)" class="margintop" text="Ir a Donaciones" />
            </div>
            <div class="col-lg-6 col-md-6  col-sm-12">
                <figure class="img-container box" >
                    <img class="img-responsive" src="../../assets/imgHeader.svg" alt="">
                </figure>
            </div>
        </section>
    </header>
</template>

<script lang="ts">
import ButtonDonar from "./ButtonDonar.vue";
import { defineComponent } from 'vue'

export default defineComponent({
    components:{
        ButtonDonar
    },
    setup() {
        
    },methods:{
        scroll : (a : number , b : number) => {
            window.scroll({
                top: b,
                left: a,
                behavior: 'smooth'
                });
        }
    }
})
</script>

<style>
.header-title{
    color: var(--color-font);
}

.margintop{
    margin-top:1.5em;
}

.img-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive{
    width: 100%;
    height: 100%;
}

</style>
