<template>
  <nav class="nav ">
    <section class="container nav__navItems mx-auto p-4">
      <h1 class="nav-titleBrand font-regular font-md">{{ title }}</h1>
    </section>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "Navbar",
  props: {
    title: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>
.nav {
  width: 100%;
  height: 6em;
}

.nav-titleBrand {
  color: var(--color-font);
  margin: 0;
}

.nav__navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: flex-start;
}
</style>
