<template>
  <router-view/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
})
</script>

<style lang="css">
  html,body, #app{
    height: 100%;
  }
</style>
<style lang="css" src="./common/style/normalize.css"></style>
<style  src="./common/style/theme.css"></style>
<style  src="./common/style/flexboxgrid.min.css"></style>
